.oferecemos{
  display: flex;
  justify-content: center;
}

h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem; 
  color: rgb(2, 26, 18);
}
.container{
  display: flex;
  height: 410px; 
  width: 1024px; 
}

.conteudo{
  flex: 1;
   
}

.pets{
  flex: 1; 
}

.pets img{
  width: 380px;
}
.conteudo2{
  flex: 1;
}

.texto::after{
  content: "1";
  width: 40px;
  height: 40px;
  background-color: #F0E413;
  border-radius: 50%;
  font-size: 2rem;
  padding: 10px; 
  margin-left: 10px;
  text-align: center;
}

.texto1::after{
  content: "2";
  width: 40px;
  height: 40px;
  background-color: #2C566C;
  border-radius: 80%;
  font-size: 2rem;
  padding: 10px; 
  margin-left: 10px;
  text-align: center;
}

.texto2::after{
  content: "3"; 
  width: 50px;
  height: 50px;
  background-color: #F0E413;
  border-radius: 50%;
  font-size: 2rem; 
  padding: 10px; 
  margin-left: 10px;  
}

.texto3::before{
  content: "4";
  width: 40px;
  height: 40px;
  background-color: #2C566C;
  border-radius: 80%;
  font-size: 2rem;
  padding: 10px; 
  margin-right: 10px; 
  text-align: center;
}

.texto4::before{
  content: "5";
  width: 40px;
  height: 40px;
  background-color: #F0E413;
  border-radius: 80%;
  font-size: 2rem;
  padding: 10px; 
  margin-right: 10px;
  text-align: center;
}

.texto5::before{
  content: "6";
  width: 10px;
  height: 10px;
  background-color: #2C566C;
  border-radius: 80%;
  font-size: 2rem;
  padding: 10px;  
  margin-right: 10px;
  text-align: center;
}
 
.texto{
  font-size: 13px;
  line-height: 10px;
}

.texto1{
  font-size: 13px;
  line-height: 10px;
}

.texto2{
  font-size: 13px;
  line-height: 10px;
}

.texto3{
  font-size: 13px;
  line-height: 10px;
}

.texto4{
  font-size: 13px;
  line-height: 10px;
}

.texto5{
  font-size: 13px;
  line-height: 10px;
}

#cachorro{
  background-image: url(./img/img6.jpg);
  background-position: center;
  background-size: cover;
}

#cachorro{
  display: flex;
  justify-content: center;
}

.animais{
  font-size: 15px;
  font-weight: bold;
  color: #F5A62F;
 text-transform: uppercase;
 margin-top: 2rem;
}

.animais-estimacao{
  color: #8d8383;
  font-size: 13px;
  line-height: 18px;
  width: 400px;
}

.animais-fantasticos{
  color: #8d8383;
  font-size: 13px;
  line-height: 18px;
  width: 400px;
}